# Table of Contents

1. [SQL Alchemy](#sql-alchemy)
   1. [Installation](##installation)
   2. [Important Note](###important-note)
   3. [What is SQL Alchemy](#what-is-sql-alchemy)
   4. [Creating the engine](#creating-the-engine)
   5. [Get data with pandas](#get-data-with-pandas)
   5. [Getting a connection](#getting-a-connection)
   6. [Running queries](#running-queries)
      1. [Running Raw Queries](#running-raw-queries)
      2. [Getting data from the result](#getting-data-from-the-result)
         1. [Getting the first row](#getting-the-first-row)
         2. [Get all rows](#get-all-rows)
         3. [Iterate through the first column](#iterate-through-the-first-column)
         4. [Getting the first column in a list](#getting-the-first-column-in-a-list)
      3. [More examples on raw queries](#more-examples-on-raw-queries)
2. [MySQL Connector](#mysql-connector)
   1. [Installation](#installation)
   2. [Establishing a Connection](#establishing-a-connection)
   3. [Creating a Cursor](#creating-a-cursor)
   4. [Executing SQL Queries](#executing-sql-queries)
      1. [Example: CoffeeShop DB](#example-coffeeshop-db)
   5. [Closing the Connection](#closing-the-connection)

# SQL Alchemy

## Installation

For this lesson, you must install the libraries **SQLAlchemy** and **PyMySQL** on your computer. There are several ways to do this:

### Option 1 (Recommended for Jupyter Notebooks):

- Open a new Jupyter notebook. In a new code cell, type: %pip install sqlalchemy pymysql


### Option 2 (Anaconda Navigator):
1. Open **Anaconda Navigator** and click on the **Environments** section on the left panel.
2. In the search bar, type `sqlalchemy`. If the library isn't installed, click the checkbox next to it and hit **Apply**. The system will install the library along with any necessary dependencies.
3. Repeat the process by searching for `pymysql` and installing it in the same way.


### Option 3 (Terminal or Command Prompt):
If you use this method, close your Jupyter notebook first. Then, open a terminal (MacOS/Linux) or a Command Prompt (Windows) and type the following commands:

    pip install sqlalchemy pymysql

You can open your notebook again after installing the libraries.

In [11]:
#%pip install sqlalchemy pymysql

### Important Note


**Upgrading to SQLAlchemy Version 2.0**:

The new version 2.0 of SQLAlchemy introduces significant API changes compared to the 1.4 series. 
Ensure to install the latest version, especially if you plan to follow along with classes or tutorials that use the newest features of the library.

To get started, follow these steps:

1. **Check Your Current Version**:
   Before making any changes, it's wise to check your currently installed version of SQLAlchemy: %pip show sqlalchemy | grep Version

2. **Upgrade to Version 2.0 (if necessary)**:
   If your current version is in the 1.x series instead of 2.x, you should upgrade to the latest version: pip install --upgrade sqlalchemy

In [ ]:
%pip show sqlalchemy | grep Version

In [ ]:
pip install --upgrade sqlalchemy

## What is SQL Alchemy

SQLAlchemy is a popular SQL toolkit and Object-Relational Mapping (ORM) library for Python. It provides a set of high-level APIs to connect to relational databases. Using SQLAlchemy, you can work with relational databases in a more Pythonic way, abstracting away many of the common database operations. Here's a breakdown of its main features:

1. **ORM (Object-Relational Mapping)**:
   - Allows classes to be mapped to database tables, so you can use Python objects to represent database rows.
   - Provides a high-level, abstracted pattern for CRUD (Create, Read, Update, Delete) operations.
   - Automates the process of synchronizing object states with database content.

2. **SQL Expression Language**:
   - A comprehensive SQL abstraction tool that allows you to build SQL queries using Python expressions.
   - Gives you the power and flexibility of raw SQL, but in a more Pythonic way.

3. **Engine**:
   - Provides a source of connectivity to a database, which can be fine-tuned for the specific database dialect.
   - Manages connection pooling, which is crucial for scalable applications.

4. **Dialects**:
   - SQLAlchemy supports a variety of database backends by using dialects. Commonly used database systems like PostgreSQL, MySQL, SQLite, and Oracle have their own dialects in SQLAlchemy.

5. **Schema and Types**:
   - SQLAlchemy provides a way to declare table structures and relationships directly in Python, which can then be used to automatically create (or drop) database structures.
   - Offers a broad set of SQL standard and vendor-specific datatypes.

6. **Session**:
   - Manages the persistence operations for ORM-mapped objects.
   - Acts as a transactional buffer, accumulating changes and flushing them to the database in a batch.

## Creating the engine

**Connecting to a Database using SQLAlchemy**:

To connect to a database, we need to set up an SQLAlchemy "engine". Think of this engine as a bridge or gateway between your Python application and the actual database.

The SQLAlchemy engine provides a standard way to interact with the database and execute SQL statements. It achieves this by managing a set of database connections and using a "dialect" specific to your database.

To get an engine, we use:

```python
sqlalchemy.create_engine(connection_string)
```

To create the *connection string*, this is the general syntax **`'dialect+driver://username:password@host:port/database'`**

In [2]:
# %pip install sqlalchemy pymysql python-dotenv
# %pip show sqlalchemy | grep Version
# %pip install --upgrade sqlalchemy

import pandas as pd
import pymysql
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Load environment variables from the .env file
load_dotenv()

# Retrieve database connection details from the .env file
username = os.getenv("my_sql_username")
password = os.getenv("my_sql_password")
host = os.getenv("my_sql_host", "localhost")  # Default to localhost when not set in .env
port = os.getenv("my_sql_port", 3306)  # Default MySQL port when not set in .env
db_name = os.getenv("my_sql_db_name", "bank")  # This time connecting to bank, or set in .env

# Create the SQLAlchemy connection string
connection_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{db_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

## Get data with pandas

After having created the engine, I can get data either using pandas, or go on using SQLAlchemy.

**When to use which:**
- **Pandas** (e.g., pd.read_sql()):
 - **Pros**: Ideal for quick data analysis, retrieving results directly as DataFrames for further manipulation, and simple queries.
 - **Cons**: Limited flexibility, less control over transactions and connections.
- **SQLAlchemy** ( engine.execute() or connection.execute() ):
 - **Pros**: More control over database connections and transactions, supports raw SQL queries, and is better for handling large or complex databases.
 - **Cons**: Slightly more verbose for simple tasks, requires explicit management of connections.

In [ ]:
# 2 examples of using pandas:
# 1. Test the connection by listing the tables
tables = pd.read_sql("SHOW TABLES;", engine)
print(tables)

# 2. Select all rows from a table (replace 'your_table' with an actual table)
df = pd.read_sql("SELECT * FROM account", engine)
print(df)

## Getting a connection
We get a connection using the `connect()` method.

In [28]:
connection = engine.connect()

It's better practice though to use context managers to manage the connect/release process: "with engine.connect() as connection:"

## Running queries
The SQLAlchemy Connection features an `.execute()` method that will run queries.
```python
with engine.connect() as connection:
    connection.execute(...)
    ...

```
The `Connection.execute()` always returns a `sqlalchemy.engine.Result` object.
### Running Raw Queries
To invoke a textual query, use the `sqlalchemy.text()` passed to `.execute()`.

In [ ]:
from sqlalchemy import text

with engine.connect() as connection:
    query = text("SELECT * FROM loan")
    result = connection.execute(query)

result

In this specific case the `Result` is called `CursorResult`.

The `Result` object has many methods we can use. Let's look at some of them.
### Getting data from the result
#### Getting the first row

- `.first()`: returns the first row and closes the result set. The row is a `sqlaclhemy.engine.Row` object.

The `Row` object looks and acts mostly like a named tuple:

In [4]:
row = result.first()

In [ ]:
type(row)

In [ ]:
row # Looks like a tuple

In [ ]:
row[0] # It has indexes

In [ ]:
row.loan_id # Its like a named tuple, we can access it column-wise

In [ ]:
row._mapping # It also has a dictionary interface available via an accessor called ._mapping

In [ ]:
row._mapping["loan_id"] # Getting a column value dictionary-wise

**Note**: if we were to call another method on result, we might encounter an error. To avoid errors:

- Ensure that you're not trying to fetch rows from the result object more than once.
- If you're using a context for the connection, make sure all operations related to the result object are done within that context.
#### Get all rows
Let's look at different ways of getting all rows from a query.

In [ ]:
# We can loop over result.mappings(), and we'll see that we get dictionaries for each row,
# where the key in each dictionary represents the column name. This makes it easy for us to retrieve the data
# and display it in a loop.

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    for row in result.mappings():
        print(row)

In [ ]:
# If we just want the values in tuples instead of dictionary with column names, we can do the following

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    for row in result:
        print(row)

In [ ]:
# We can also use the method fetchall() to get all those tuples in a list

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    print(result.fetchall())

In [ ]:
# Instead of fetchall() we can get the same result using all(). This code has the same outcome as the block above

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    print(result.all())

In [ ]:
# We can also get it as a DataFrame

with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    df = pd.DataFrame(result.all())

df

#### Iterate through the first column
We can use the method `.scalars()` which gives a `ScalarResult`.

In [ ]:
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    for id in result.scalars():
        print(id)

In [ ]:
# Another way to do the same
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    for row in connection.execute(query):
        print(row.loan_id)

#### Getting the first column in a list
We can call the `.all()` method after the `.scalars()` method.

In [ ]:
with engine.connect() as connection:
    query = text('SELECT * FROM loan')
    result = connection.execute(query)
    print(result.scalars().all())

### More examples on raw queries
Let's get how many loans were granted every year, and the month of each duration.

In [ ]:
with engine.connect() as connection:
    # Getting how many loans were granted every year, and the month of each duration.
    txt = """select year(date) as "Year", month(date) as "Month", duration, count(loan_id) as "New_loans" from bank.loan
            group by Year, Month, duration
            order by Year, Month, duration;"""
    query = text(txt)
    result = connection.execute(query)
    print(pd.DataFrame(result.all()))

Let's create a function to do the same as above.

In [83]:
# Getting how many loans were granted every year, and the month of each duration.
def get_AB_loans(connection):
    with engine.connect() as connection:
        # Getting how many loans were granted every year, and the month of each duration.
        txt = """select year(date) as "Year", month(date) as "Month", duration, count(loan_id) as "New_loans" from bank.loan
                group by Year, Month, duration
                order by Year, Month, duration;"""
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

In [ ]:
get_AB_loans(connection)


Some guidelines when creating functions:

- Try to make your functions as self contained as possible
- Try to make your functions as general as possible (use optional arguments if needed)
- Test your Python functions!

# MySQL Connector
MySQL Connector/Python is an official MySQL client library for Python. It allows Python programs to connect and interact with MySQL databases.

- Suitable for scripts or applications that need a straightforward way to connect to a MySQL database and execute queries.
- Specific to MySQL.
- Focused on providing a direct connection to MySQL, so while it's efficient for that purpose, it lacks the broader features and abstractions of an ORM like SQL Alchemy.
- Operates at a lower level. You work directly with SQL queries, and the results you get back are typically in the form of rows and columns, rather than structured Python objects.
## Establishing a Connection:
To connect to a MySQL database, you need the host name (or IP address), the database name, and the credentials (username and password).

In [17]:
# %pip install mysql-connector-python
import mysql.connector

# Retrieve database connection details from the .env file
username = os.getenv("my_sql_username")
password = os.getenv("my_sql_password")
host = os.getenv("my_sql_host", "localhost")  # Default to localhost when not set in .env
port = os.getenv("my_sql_port", 3306)  # Default MySQL port when not set in .env
db_name = os.getenv("my_sql_db_name", "bank")  # This time connecting to bank, otherwise to be set in .env

conn = mysql.connector.connect(host=host, username=username, password=password, database=db_name)

## Creating a Cursor:
A cursor object allows you to execute SQL queries and fetch results.

```python
cursor = conn.cursor()
```

In [ ]:
cursor = conn.cursor()

cursor

## Executing SQL Queries:
Using the cursor, you can execute any SQL statement.

In [ ]:
# SELECT Statement
cursor.execute("SELECT * FROM loan")
rows = cursor.fetchall()

for row in rows:
    print(row)

In [ ]:
# INSERT Statement
sql = "INSERT INTO table_name (col1, col2) VALUES (%s, %s)"
values = ("value1", "value2")

cursor.execute(sql, values)
conn.commit()  # Save the changes

In [ ]:
# CREATE Statement
cursor.execute("CREATE DATABASE new_database_name")
conn.commit()  # Save the changes

### Example: CoffeeShop DB

We're going to use a simple, relatable example: setting up a database for a coffee shop.

1. **Create** our `CoffeeShop` database.
2. **Create** a table to list various coffee items (coffee id, coffee name, price).
3. **Insert** coffee menu items into our table.
4. **Query** our table to view the items we've added.

Let's create a CoffeeShop database.

In [20]:
# Create CoffeeShop Database
cursor.execute("CREATE DATABASE IF NOT EXISTS CoffeeShop")

In [107]:
# Switch to the CoffeeShop Database
cursor.execute("USE CoffeeShop")

Create a Menu Table: We'll create a table called Menu with columns for coffee name and its price.

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS Menu (
    coffee_id INT AUTO_INCREMENT PRIMARY KEY,
    coffee_name VARCHAR(255) NOT NULL,
    price DECIMAL(5,2) NOT NULL
)
""")
print("Table Menu created successfully!")

Let's insert values into the table:

In [ ]:
# Insert Coffee Items into Menu Table
menu_items = [
    ("Espresso", 2.50),
    ("Cappuccino", 3.00),
    ("Latte", 3.50),
    ("Americano", 2.00),
    ("Mocha", 3.75)
]

cursor.executemany("INSERT INTO Menu (coffee_name, price) VALUES (%s, %s)", menu_items)
conn.commit()
print(f"{cursor.rowcount} coffee items inserted!")

Finally, lets see our data!

In [ ]:
# Select and Display Coffee Items from Menu Table
cursor.execute("SELECT coffee_name, price FROM Menu ORDER BY price DESC")
results = cursor.fetchall()

pd.DataFrame(results)

## Closing the Connection:
After performing database operations, remember to close the cursor and the connection.

```python
cursor.close()
conn.close()
```

In [111]:
# Close the cursor and the connection.
cursor.close()
conn.close()

### Using SQLAlchemy as an ORM
The idea behind ORM (object-relational mapping) is to create a code representation of your database using classes and objects instead of writing raw SQL statements. 

The classes represent the tables in your database, and the objects of those classes represent rows. 

So the first step to using ORM is to define classes that map to your tables. Classes that represent tables in an ORM are called models.

We won't be diving into it during the bootcamp, but feel free to [read the docs](https://docs.sqlalchemy.org/en/20/tutorial/) to learn how to use it!